#contactDiv {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    grid-column-start: 1fr;
    grid-column-end: 3fr;
    grid-row-start: 1fr;
    grid-row-end: 2fr;
}

#contactName{
    font-size: 40px;
}

